.hero-main
  position: relative
  height: 100vh
  @include ipad-pro
    height: 70vh
  @include tablet-md
    height: 70vh
  @include phone-lg
    height: 80vh
  @include phone
    height: 100vh
  @include phone-land-lg
    height: 100vh

  &--no-image, &--small-height
    height: 72vh
    min-height: rem-calc(580)

  &--iconix-page.hero-main--small-height
    min-height: 0

  &--left-content
    .hero-main__content
      top: 50%
      bottom: auto
      align-items: flex-start
      transform: translate(-50%, -50%)
      text-align: left

    .hero-main__text
      max-width: calc((6/12) * #{$width})
      @include desktop
        max-width: calc((6/12) * #{$max-width})

    @include phone-lg
      .hero-main__content
        top: 0
        bottom: 0
        align-items: flex-start
        transform: translate(-50%, 0)
        padding: 3rem 1rem 2.5rem
        height: 100%
        text-align: left

      .hero-main__cta
        margin-top: auto

  &--braces-page.hero-main--small-height
    height: 86vh
    min-height: rem-calc(680)

    .hero-main__image-container
      overflow: hidden

    .hero-main__image
      top: 0
      transform: translateY(4%)
      height: 108%

    @include tablet-lg
      height: calc(88vh - #{rem-calc(115)})
      min-height: rem-calc(640)
    @include phone-lg
      height: calc(90vh - #{rem-calc(115)})
      min-height: rem-calc(600)
    @include nexus
      height: calc(90vh - #{rem-calc(100)})

  &--inner-page
    @include tablet-lg
      margin-top: rem-calc(115)
      height: calc(100vh - #{rem-calc(115)})
      @include tablet-md
        height: calc(70vh - #{rem-calc(115)})
      @include phone-lg
        height: calc(80vh - #{rem-calc(115)})
      @include phone
        height: calc(100vh - #{rem-calc(115)})
      @include nexus
        margin-top: rem-calc(100)
        height: calc(100vh - #{rem-calc(100)})

  &--header-offset
    margin-top: rem-calc(115)
    height: calc(100vh - #{rem-calc(115)})
    @include ipad-pro
      height: calc(70vh - #{rem-calc(115)})
    @include tablet-md
      height: calc(70vh - #{rem-calc(115)})
    @include phone-lg
      height: calc(80vh - #{rem-calc(115)})
    @include phone
      height: calc(100vh - #{rem-calc(115)})
    @include nexus
      margin-top: rem-calc(100)
      height: calc(100vh - #{rem-calc(100)})

  &__overlay, &__image-container, &__video
    @extend %absolute

  &__overlay
    z-index: 2
    background: $ol1

  &__image-container
    z-index: 1

  &__poster
    @extend %absolute
    z-index: 0

  &__poster-image
    width: 100%
    height: 100%
    object-fit: cover

  &__video
    height: auto
    overflow: hidden

    @supports (object-fit: cover)
      height: 100%
      object-fit: cover

    &-control
      @include hover-supported
        border-color: var(--accent)
        .hero-home__video-control-play
          fill: var(--accent)
        .hero-home__video-control-pause
          stroke: var(--accent)
      display: flex
      position: absolute
      right: 2rem
      bottom: 1rem
      align-items: center
      justify-content: center
      transition: border .2s ease
      z-index: 9
      border: rem-calc(3) solid $white
      border-radius: 50%
      background: gray
      cursor: pointer
      padding: 0
      width: 2rem
      height: 2rem
      @include tablet
        right: 1rem
        bottom: .5rem

      &-pause, &-play
        display: flex
        transition: all .2s ease
        width: 50%
        height: 50%

        svg
          width: 100%

      &-pause
        stroke: $white

      &-play
        fill: $white

  &__image
    @extend %absolute
    object-fit: cover
    @include tablet
      object-position: var(--hero-mobile-object-position, center) !important

  &__container
    @include container
    z-index: 3
    height: 100%

  &__content
    @include col (10)
    @include col--offset (1)
    display: flex
    position: absolute
    bottom: 16%
    left: 50%
    flex-direction: column
    align-items: center
    transform: translate(-50%, 0)
    margin-left: 0
    color: $white
    @include tablet
      bottom: 10%
      padding: 2rem
    @include phone-lg
      bottom: 15%
      padding: 1rem
      text-align: center
    @include phone
      bottom: 20%
      text-align: center

    &--title-only
      @include col (12)
      position: absolute
      top: 66%
      left: 50%
      transform: translate(-50%, -50%)
      margin-left: 0
      text-align: center
      color: $white

      .hero-main__title
        margin-right: auto
        margin-left: auto
        max-width: rem-calc(1320)

      @include tablet
        padding: 0 2rem
      @include phone-lg
        padding: 0 1rem

    &--pages
      // bottom: 35%
      text-align: center

  &__title
    // Mobile line break control
    .mobile-break
      display: none

    @include phone-lg
      .mobile-break
        display: block

    &--small
      @extend %h1-alt
      margin-bottom: .25rem
      color: $white

    .hero-main--no-image &
      color: var(--primary)

  &__text
    @extend %hero-text
    max-width: calc((4/12) * #{$width})
    color: $white
    @include desktop
      max-width: calc((4/12) * #{$max-width})

  &__cta
    display: block
    position: relative
    margin-top: 2.5rem
    @include desktop
      margin-top: 3rem
    @include laptop
      margin-top: 2rem

    .base-button__cta
      color: $white

  &__down
    position: absolute
    bottom: 2rem
    left: 50%
    transform: translateX(-50%)
    @include tablet-md
      visibility: hidden
      pointer-events: none

  &__down-icon
    display: block
    animation: bounce 2.5s cubic-bezier(.39, .575, .28, .995) infinite
    width: 2rem
    fill: $white

#all-ages-hero
  .hero-main--small-height
    height: 78vh
    min-height: rem-calc(640)
    @include ipad-pro
      height: 76vh
    @include tablet-lg
      height: calc(84vh - #{rem-calc(115)})
      min-height: rem-calc(600)
    @include phone-lg
      height: calc(86vh - #{rem-calc(115)})
      min-height: rem-calc(560)
    @include nexus
      height: calc(86vh - #{rem-calc(100)})
